<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop2="http://schemas.microsoft.com/appx/manifest/desktop/windows10/2"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap desktop desktop2 rescap uap18">

  <Identity
    Name="NeuralNexusStudios.NexRemote"
    Publisher="CN=8559855F-6955-4418-A6D8-835C3238CF34"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="100bf35e-9afa-4a19-b42e-098b7a9bf342" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>NexRemote</DisplayName>
    <PublisherDisplayName>Neural Nexus Studios</PublisherDisplayName>
    <Description>NexRemote by Neural Nexus Studios</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="NexRemote.exe"
      EntryPoint="$targetentrypoint$" uap18:RuntimeBehavior="packagedClassicApp">
      <uap:VisualElements
        DisplayName="NexRemote"
        Description="NexRemote by Neural Nexus Studios"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badgeAndTileText"/>
      </uap:VisualElements>

      <Extensions>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="NexRemote.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="NexRemoteStartup"
            Enabled="false"
            DisplayName="NexRemote by Neural Nexus Studios" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Extensions>
    <desktop2:Extension Category="windows.firewallRules">
      <desktop2:FirewallRules Executable="NexRemote.exe">
        <desktop2:Rule Direction="in" IPProtocol="TCP" LocalPortMin="8765" LocalPortMax="8765" Profile="private" />
        <desktop2:Rule Direction="in" IPProtocol="TCP" LocalPortMin="8766" LocalPortMax="8766" Profile="private" />
        <desktop2:Rule Direction="in" IPProtocol="UDP" LocalPortMin="37020" LocalPortMax="37020" Profile="private" />
      </desktop2:FirewallRules>
    </desktop2:Extension>
  </Extensions>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClientServer"/>
    <Capability Name="internetClient"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="musicLibrary"/>
    <uap:Capability Name="picturesLibrary"/>
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>
